.contentSection {
  composes: contentSection from '../../assets/css/layout.css';
  margin-top: 14.7vh;
}

@media only screen and (max-width: 1023px) {
  .contentSection {
    margin-top: calc(14.7vh - 96px);
  }
}

.row {
  composes: row from '../../assets/css/layout.css';
  width: 75%;
}

@media only screen and (max-width: 1439px) {
  .row {
    width: 80%;
  }
}

@media only screen and (max-width: 1023px) {
  .row {
    width: 100%;
  }
}

.nameSectionEnter {
  opacity: 0.01;
}

.nameSectionEnterActive {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.nameSectionAppear {
  opacity: 0.01;
}

.nameSectionAppearActive {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.nameSectionLeave {
  opacity: 1;
}

.nameSectionLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.professionSectionEnter {
  opacity: 0.01;
}

.professionSectionEnterActive {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.professionSectionAppear {
  opacity: 0.01;
}

.professionSectionAppearActive {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.professionSectionLeave {
  opacity: 1;
}

.professionSectionLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.descriptionSectionEnter {
  opacity: 0.01;
}

.descriptionSectionEnterActive {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}

.descriptionSectionAppear {
  opacity: 0.01;
}

.descriptionSectionAppearActive {
  opacity: 1;
  transition: opacity 2500ms ease-in;
}

.descriptionSectionLeave {
  opacity: 1;
}

.descriptionSectionLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
