.contentSection {
  composes: contentSection from '../../assets/css/layout.css';
  margin-top: 14.7vh;
}

.row {
  composes: row from '../../assets/css/layout.css';
  width: 75%;
}

@media only screen and (max-width: 1439px) {
  .row {
    width: 80%;
  }
}

@media only screen and (max-width: 1023px) {
  .row {
    width: 100%;
  }
}
