.pageContainer {
  composes: pageContainer from '../../assets/css/layout.css';
}

.leftSectionContainer {
  composes: leftSectionContainer from '../../assets/css/layout.css';
}

.rightSectionContainer {
  composes: rightSectionContainer from '../../assets/css/layout.css';
}

@media only screen and (max-width: 1023px) {
  .rightSectionContainer {
    width: 100%;
  }
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
