.contentSection {
  composes: contentSection from '../../assets/css/layout.css';
  margin-top: 17.7734375vh;
}

.row {
  composes: row from '../../assets/css/layout.css';
}

.row:not(:first-child) {
  margin-top: 4.39453125vh;
}

.row p {
  margin-top: 1.3671875vh;
}

.row:last-child {
  margin-bottom: 9.6rem;
}

.bold {
  composes: bold from '../../assets/css/utilities.css';
}

.justify {
  composes: justify from '../../assets/css/utilities.css';
}

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.leave {
  opacity: 1;
}

.leaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
