.contentSection {
  composes: contentSection from '../../assets/css/layout.css';
  margin-top: 17.7734375vh;
}

.row {
  composes: row from '../../assets/css/layout.css';
}

.row:not(:first-child) {
  margin-top: 4.39453125vh;
}

.row p {
  margin-top: 1.3671875vh;
}

@media only screen and (max-width: 1439px) {
  /*.row {
    width: 80%;
  }*/
}

@media only screen and (max-width: 1023px) {
  /*.row {
    width: 100%;
  }*/
}

.row:last-child {
  margin-bottom: 9.6rem;
}

.bold {
  composes: bold from '../../assets/css/utilities.css';
}

.justify {
  composes: justify from '../../assets/css/utilities.css';
}
