.name {
  margin-top: 3.3rem;
  font-size: 14.4rem;
  font-family: 'Avenir Next Demi';
  font-weight: 600;
  font-style: normal;
  text-align: left;
  line-height: 19.7rem;
  cursor: default;
  color: #060606;
}
