.contentSection {
  composes: contentSection from '../../assets/css/layout.css';
  margin-top: 15.8203125vh;
}

@media only screen and (max-width: 1023px) {
  .contentSection {
    margin-top: calc(17.7734375vh - 96px);
  }
}

.row {
  composes: row from '../../assets/css/layout.css';
}

row:nth-child(2) {
  margin-right: 2.1739130434%;
}

.contentSection:last-child {
  margin-bottom: 9.6rem;
}

.disableSelect {
  composes: disableSelect from '../../assets/css/utilities.css';
  cursor: default;
}

/* Open Records Animations */

.openRecordsProjectEnter {
  opacity: 0.01;
}

.openRecordsProjectEnterActive {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.openRecordsProjectAppear {
  opacity: 0.01;
}

.openRecordsProjectAppearActive {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.openRecordsProjectLeave {
  opacity: 1;
}

.openRecordsProjectLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/* Plotly Animations */

.plotlyProjectEnter {
  opacity: 0.01;
}

.plotlyProjectEnterActive {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.plotlyProjectAppear {
  opacity: 0.01;
}

.plotlyProjectAppearActive {
  opacity: 1;
  transition: opacity 3000ms ease-in;
}

.plotlyProjectLeave {
  opacity: 1;
}

.plotlyProjectLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/* Main Section Animations */

.formfillProjectEnter {
  opacity: 0.01;
}

.formfillProjectEnterActive {
  opacity: 1;
  transition: opacity 4000ms ease-in;
}

.formfillProjectAppear {
  opacity: 0.01;
}

.formfillProjectAppearActive {
  opacity: 1;
  transition: opacity 4000ms ease-in;
}

.formfillProjectLeave {
  opacity: 1;
}

.formfillProjectLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/* Main Section Animations */

.daysleftProjectEnter {
  opacity: 0.01;
}

.daysleftProjectEnterActive {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.daysleftProjectAppear {
  opacity: 0.01;
}

.daysleftProjectAppearActive {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.daysleftProjectLeave {
  opacity: 1;
}

.daysleftProjectLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
