.contentSection {
  composes: contentSection from '../../assets/css/layout.css';
  margin-top: 15.8203125vh;
}

@media only screen and (max-width: 1023px) {
  .contentSection {
    margin-top: calc(17.7734375vh - 96px);
  }
}

.row {
  composes: row from '../../assets/css/layout.css';
  margin-bottom: 6rem;
}

.row .labelWrapper {
  margin-bottom: 0vh;
}

.contentSection h2 {
  margin-bottom: 2.9296875vh;
}

.link {
  display: inline-block;
  font-family: 'Nunito Sans';
  font-weight: 300;
  font-style: normal;
  font-size: 2.64rem;
  line-height: 3.6rem;
  margin-left: 1.8rem;
  vertical-align: middle;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
}

.linkWrapper {
  margin-bottom: 3.6rem;
  cursor: pointer;
  transition: color 0.5s ease;
}

.linkWrapper:hover {
  color: #7f7d7e;
}

@media only screen and (max-width: 767px) {
  .linksWrapper {
    display: none;
  }
}

.marginLeft {
  margin-left: 1.1111111111vh;
}

@media only screen and (max-width: 767px) {
  .marginLeft {
    margin-left: 0;
  }
}

.disableSelect {
  composes: disableSelect from '../../assets/css/utilities.css';
  cursor: default;
}

/* Contact Title Animations */

.contactTitleEnter {
  opacity: 0.01;
}

.contactTitleEnterActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.contactTitleAppear {
  opacity: 0.01;
}

.contactTitleAppearActive {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.contactTitleLeave {
  opacity: 1;
}

.contactTitleLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/* Github Link Animations */

.githubLinkEnter {
  opacity: 0.01;
}

.githubLinkEnterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.githubLinkAppear {
  opacity: 0.01;
}

.githubLinkAppearActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.githubLinkLeave {
  opacity: 1;
}

.githubLinkLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/* Twitter Link Animations */

.twitterLinkEnter {
  opacity: 0.01;
}

.twitterLinkEnterActive {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.twitterLinkAppear {
  opacity: 0.01;
}

.twitterLinkAppearActive {
  opacity: 1;
  transition: opacity 1500ms ease-in;
}

.twitterLinkLeave {
  opacity: 1;
}

.twitterLinkLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

/* Mail Link Animations */

.mailLinkEnter {
  opacity: 0.01;
}

.mailLinkEnterActive {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.mailLinkAppear {
  opacity: 0.01;
}

.mailLinkAppearActive {
  opacity: 1;
  transition: opacity 2000ms ease-in;
}

.mailLinkLeave {
  opacity: 1;
}

.mailLinkLeaveActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
