.contentSection {
  composes: contentSection from '../../assets/css/layout.css';
  margin-top: 17.7734375vh;
}

.row {
  composes: row from '../../assets/css/layout.css';
  margin-bottom: 3.859375vh;
}

.row .labelWrapper {
  margin-bottom: 0vh;
}

.contentSection h2 {
  margin-bottom: 2.9296875vh;
}

.inputWrapper {
  height: 10.6vh;
  width: 100%;
}

.linksWrapper {
  height: 13.6rem;
  width: auto;
  vertical-align: top;
}

.textareaWrapper {
  height: 100%;
}

.buttonWrapper {
  height: 5.76171875vh;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  border: 2pt solid #4a4a4a;
  font-size: 1.8rem;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  background-color: white;
  margin-top: 2.34375vh;
}

.buttonWrapper:hover {
  background: #fafafa;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #ffffff;
  -moz-box-shadow: inset 0px 0px 4px #ffffff;
  box-shadow: inset 0px 0px 4px #ffffff;
}

.buttonWrapper:active {
  background: #eeeeee;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 4px #fafafa;
  -moz-box-shadow: inset 0px 0px 4px #fafafa;
  box-shadow: inset 0px 0px 4px #fafafa;
}

.label {
  display: block;
  font-family: 'Avenir Next';
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1.3671875rem;
  width: auto;
}

.textareaWrapper .label {
  display: inline-block;
}

.link {
  display: inline-block;
  font-family: 'Avenir Next';
  font-weight: normal;
  font-style: normal;
  font-size: 1.8rem;
  margin-left: 1.1111111111vw;
  vertical-align: middle;
  cursor: pointer;
}

.icon {
  vertical-align: middle;
}

.linkWrapper {
  margin-left: 0.45vw;
  margin-bottom: 2.7rem;
  cursor: pointer;
  transition: color 0.5s ease;
}

.linkWrapper:hover {
  color: #7f7d7e;
}

input {
  -webkit-appearance: none;
  border: 2pt solid #4a4a4a;
  height: 58.4905660377%;
  width: 100%;
  font-family: 'Helvetica Neue';
  font-weight: 100;
  font-style: normal;
  font-size: 1.8rem;
  padding: 1px 1vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

textarea {
  -webkit-appearance: none;
  border: 2pt solid #4a4a4a;
  min-height: 58.4905660377%;
  width: 100%;
  font-family: 'Helvetica Neue';
  font-weight: 100;
  font-style: normal;
  font-size: 1.8rem;
  padding: 1rem 1vw;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: none;
}

.inputWrapper.half,
.buttonWrapper.half,
.linksWrapper,
textarea {
  width: calc(50% - 1.1111111111vh/2);
}

.inputWrapper.half,
.linksWrapper {
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .inputWrapper.half,
  .buttonWrapper.half,
  .linksWrapper,
  textarea {
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .linksWrapper {
    display: none;
  }
}

.marginLeft {
  margin-left: 1.1111111111vh;
}

@media only screen and (max-width: 767px) {
  .marginLeft {
    margin-left: 0;
  }
}

.disableSelect {
  composes: disableSelect from '../../assets/css/utilities.css';
  cursor: default;
}
