.pageContainer {
  width: 100%;
  height: 100%;
}

.contentSection {
  width: 76.0416666667%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1023px) {
  .contentSection {
    width: 84%;
  }
}

@media only screen and (max-width: 1023px) {
  .contentSection {
    width: 84.7%;
  }
}

.leftSectionContainer {
  width: 17.1%;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 1439px) {
  .leftSectionContainer {
    width: 24.4%;
  }
}

@media only screen and (max-width: 1023px) {
  .leftSectionContainer {
    width: 0%;
  }
}

.rightSectionContainer {
  width: 82.9%;
  overflow: scroll;
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-width: 1439px) {
  .rightSectionContainer {
    width: 75.6%;
  }
}

@media only screen and (max-width: 1023px) {
  .rightSectionContainer {
    width: 100%;
  }
}

.row {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
