.disableSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fixed {
  position: fixed;
}

.justify {
  text-align: justify;
}

.bold {
  color: #4a4a4a;
  font-weight: 400;
  font-style: normal;
}

.center {
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}

.inlineCenter {
  display: -ms-inline-flexbox !important;
  display: -webkit-inline-flex !important;
  display: inline-flex !important;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
}
