.project {
  height: 39.6484375vh;
  margin-top: 1.8rem;
}

.project h1 {
  font-family: 'Nunito Sans';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 5.9rem;
  line-height: 7.2rem;
}

.project.half h1 {
  font-size: 4.4rem;
}

.project h1 {
  font-family: 'Nunito Sans';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 6.4rem;
  line-height: 5.4rem;
}

.half {
  width: calc(50% - 0.9027777778vh/2);
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .half {
    display: block;
    width: 100%;
  }
}

.inlineCenter {
  composes: inlineCenter from '../../assets/css/utilities.css';
}

.center {
  composes: center from '../../assets/css/utilities.css';
}

.marginLeft {
  margin-left: 0.9027777778vh;
}

@media only screen and (max-width: 767px) {
  .marginLeft {
    margin-left: 0;
  }
}

.project div {
  display: inherit;
  width: 100%;
  height: 100%;
  display: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-box-align: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  box-sizing: border-box;
  cursor: pointer;
}

.project div:not(:hover) {
  border: 5pt solid #4a4a4a;
  background-color: #fafafa !important;
}
