body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

a:-webkit-any-link {
  color: #4a4a4a;
  cursor: auto;
  text-decoration: none;
}

/* Document level adjustments */
html {
  font-size: 62.5%;
}

h1 {
  font-size: 19.8rem;
  line-height: 27rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #060606;
}

h2 {
  font-size: 5.25rem;
  line-height: 7.2rem;
  font-family: 'Nunito Sans';
  font-weight: normal;
  font-style: normal;
  color: #4a4a4a;
}

h3 {
  font-size: 4.0rem;
  line-height: 5.4rem;
  font-family: 'Nunito Sans';
  font-weight: normal;
  font-style: normal;
  color: #4a4a4a;
}

h4 {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  font-size: 3.06rem;
  line-height: 3.6rem;
  color: #4a4a4a;
}

p,
strong {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.6rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 4.8rem;
  letter-spacing: normal;
  text-align: justify;
  color: #888888;
  cursor: default;
}

a {
  font-family: 'Montserrat';
  font-size: 2.95rem;
}

@media only screen and (max-width: 1439px) {
  html {
    font-size: 41.6666666667%;
  }
}

@media only screen and (max-width: 1023px), screen and (max-height: 900px) {
  html {
    font-size: 62.5%;
  }

  h1 {
    font-size: 14.4rem;
    line-height: 19.6363636364rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 37.5%;
  }

  h1 {
    font-size: 10.8rem;
    line-height: 14.7272727273rem;
  }
}
