body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fafafa;
}

a:-webkit-any-link {
  color: #4a4a4a;
  cursor: auto;
  text-decoration: none;
}

/* Document level adjustments */
html {
  font-size: 62.5%;
}

h1 {
  font-size: 14.4rem;
  line-height: 19.7rem;
  font-family: 'Avenir Next Demi';
  font-weight: 600;
  font-style: normal;
  color: #060606;
}

h2 {
  font-size: 4.8rem;
  line-height: 6.6rem;
  font-family: 'Avenir Next';
  font-weight: normal;
  font-style: normal;
  color: #4a4a4a;
}

h2 {
  font-size: 4.8rem;
  line-height: 6.6rem;
  font-family: 'Avenir Next';
  font-weight: normal;
  font-style: normal;
  color: #4a4a4a;
}

h3 {
  font-size: 3.6rem;
  line-height: 4.9rem;
  font-family: 'Avenir Next';
  font-weight: normal;
  font-style: normal;
  color: #4a4a4a;
}

h4 {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-style: normal;
  font-size: 2.8rem;
  color: #4a4a4a;
}

p {
  font-family: 'Helvetica Neue';
  font-size: 2.4rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #888888;
  cursor: default;
}

p.bold {
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: 'Montserrat-Regular';
  font-size: 2.4rem;
}

@media only screen and (max-width: 1439px) {
  h1 {
    font-size: 12.2rem;
    line-height: 13.8rem;
  }

  h2 {
    font-size: 3.6rem;
    line-height: 4.9rem;
  }

  h3 {
    font-size: 3.0rem;
    line-height: 4.1rem;
  }

  h4 {
    font-size: 2.0rem;
  }

  p {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 1023px) {
  h1 {
    font-size: 12.2rem;
    line-height: 16.7rem;
  }

  h4 {
    font-size: 2.8rem;
  }

  p {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 4.8rem;
    line-height: 6.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
